@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/style.css">



<div class="container">
    <div class="text-section">
        <h1>Book Your Bus Tickets Easily!</h1>
        <p>Bus ticket booking has never been easier. Enter your details below and get started!</p>
        <form>
            <input type="text" placeholder="From (City/Stop)" required>
            <input type="text" placeholder="To (City/Stop)" required>
            <input type="date" required>
            <button type="submit">Search for Buses</button>
        </form>
    </div>
</div>





