
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/style.css">

<h1>Login</h1>

<div class="container">
    <h1>Login</h1>

    @if (ViewBag.Message != null)
    {
        <p style="color: red;">@ViewBag.Message</p>
    }

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <label>Email:</label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required />

        <label>Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Enter your password" required />

        <br />
        <button type="submit" class="btn btn-primary">Login</button>
    }

    <p>Don't have an account? <a href="@Url.Action("SignUp", "Home")">Sign up here</a>.</p>
</div>