@model busTicketsWeb.Models.User

@{
    ViewBag.Title = "Sign Up";
}

<h1>Sign Up</h1>

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    <label>Full Name:</label>
    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", required = "required" })

    <label>Email:</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })

    <label>Password:</label>
    @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control", required = "required" })

    <br />
    <button type="submit" class="btn btn-primary">Sign Up</button>
}
